* {
  font-family: Poppins, sans-serif;
}

:root {
  --primary-color: #f6f8fd;
  --secondary-color: #dc3545;
  --color-text: #231942;
  --navbar-color: #ffffff;
  --navbar-color-text: #000000;
}

.navbar {
  position: fixed;
  padding: 15px 0;
  width: 100%;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  z-index: 1000;
  animation-name: fadeInDown;
  animation-duration: 1s;
}

.navbar.color-active {
  background-color: var(--navbar-color);
  padding: 20px 0;
  border-bottom: 2px solid #dc35462a;
}

.navbar .nav-link a {
  color: var(--navbar-color-text);
  font-weight: 500;
  padding: 5px 10px;
  text-decoration: none;
}

.navbar .nav-link a:hover {
  color: var(--secondary-color);
}

.navbar .nav-link .active {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.navbar .nav-link .active:hover {
  color: var(--navbar-color);
}

header {
  background: #c6ffdd;
  background: -webkit-linear-gradient(to left, #f7797d, #fbd786, #c6ffdd);
  background: linear-gradient(to left, #f7797d, #fbd786, #c6ffdd);
}

.homepage .header-box h1 {
  font-size: 3.2rem;
  font-weight: 600;
  color: var(--color-text);
  --animate-delay: 0.4s;
}

.homepage .header-box h1 span {
  font-weight: 700;
}

.homepage .header-box p {
  line-height: 2;
  color: var(--color-text);
  font-weight: 500;
  --animate-delay: 0.6s;
}

.homepage .header-box img {
  width: 100%;
}

.homepage .header-box button {
  --animate-delay: 0.8s;
}

@media screen and (max-width: 992px) {
  .homepage .header-box {
    padding-top: 8rem;
  }

  .homepage .header-box img {
    width: 400px;
    display: block;
    margin-inline: auto;
  }
}

@media screen and (max-width: 575px) {
  .homepage .header-box h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 475px) {
  .homepage .header-box h1 {
    font-size: 2.4rem;
  }

  .homepage .header-box p {
    font-size: 14px;
  }

  .homepage .header-box img {
    width: 300px;
  }
}

@media screen and (max-width: 375px) {
  .homepage .header-box h1 {
    font-size: 2rem;
  }

  .homepage .header-box p {
    font-size: 12px;
  }

  .homepage .header-box img {
    width: 300px;
  }
}

.homepage .kelas {
  background-color: var(--primary-color);
  padding-bottom: 100px;
}

.homepage .kelas .row:nth-child(1) {
  padding-top: 150px;
  padding-bottom: 100px;
}

.homepage .kelas .row:nth-child(1) h1 {
  color: var(--color-text);
}

.homepage .kelas .row:nth-child(1) p {
  color: var(--color-text);
}

.homepage .kelas .row:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
  padding-inline: 10px;
}

.homepage .kelas .row:nth-child(2) .col {
  background-color: #fff;
  padding: 0;
}

.homepage .kelas .row:nth-child(2) img {
  height: 250px;
}

.homepage .kelas .row:nth-child(2) .star i {
  color: gold;
}

.homepage .kelas .row:nth-child(2) h5 {
  color: var(--color-text);
  font-weight: 700;
  line-height: 1.5;
}

.homepage .kelas .row:nth-child(3) {
  padding-top: 100px;
}

.homepage .testimonial {
  background-color: var(--primary-color);
}

.homepage .testimonial h1 {
  color: var(--color-text);
}

.homepage .testimonial .swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}

.homepage .testimonial .swiper-slide {
  text-align: left;
  font-size: 16px;
  background: #fff;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  cursor: grab;
}

.homepage .testimonial .swiper-slide:active {
  cursor: grabbing;
}

.homepage .testimonial .swiper-slide .desc {
  color: var(--color-text);
  font-weight: 500;
  line-height: 2;
  margin-bottom: 50px;
}

.homepage .testimonial .swiper-slide .people {
  display: flex;
  align-items: center;
  width: 100%;
  column-gap: 10px;
}

.homepage .testimonial .swiper-slide .people h5,
.homepage .testimonial .swiper-slide .people p {
  color: var(--color-text);
}

.homepage .testimonial .swiper-slide .people h5 {
  font-weight: 600;
}

.homepage .testimonial .swiper-slide .people p {
  opacity: 50%;
}

.homepage .testimonial .swiper-slide .people img {
  width: 80px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

@media screen and (max-width: 768px) {
  .homepage .testimonial .swiper {
    padding-inline: 10px;
  }

  .homepage .testimonial .swiper-slide .people {
    justify-content: center;
  }
}

.kelas-page .kelas {
  background-color: var(--primary-color);
  padding-bottom: 100px;
}

.kelas-page .kelas .row:nth-child(1) {
  padding-top: 200px;
  padding-bottom: 100px;
}

.kelas-page .kelas .row:nth-child(1) h1 {
  color: var(--color-text);
  --animate-delay: 0.5s;
}

.kelas-page .kelas .row:nth-child(1) p {
  color: var(--color-text);
}

.kelas-page .kelas .row:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
  padding-inline: 10px;
}

.kelas-page .kelas .row:nth-child(2) .col {
  background-color: #fff;
  padding: 0;
}

.kelas-page .kelas .row:nth-child(2) img {
  height: 250px;
}

.kelas-page .kelas .row:nth-child(2) .star i {
  color: gold;
}

.kelas-page .kelas .row:nth-child(2) h5 {
  color: var(--color-text);
  font-weight: 700;
  line-height: 1.5;
}

.kelas-page .kelas .row:nth-child(3) {
  padding-top: 100px;
}

.testimonial-page .testimonial {
  background-color: var(--primary-color);
  padding-top: 150px;
  padding-bottom: 100px;
}

.testimonial-page .testimonial .row:nth-child(1) p {
  --animate-delay: 0.4s;
}

.testimonial-page .testimonial .desc {
  color: var(--color-text);
  font-weight: 500;
  line-height: 2;
  margin-bottom: 30px;
  background-color: #fff;
  padding: 20px;
}

.testimonial-page .testimonial .people {
  display: flex;
  align-items: center;
  width: 100%;
  column-gap: 10px;
}

.testimonial-page .testimonial .people h5,
.testimonial-page .testimonial .people p {
  color: var(--color-text);
}

.testimonial-page .testimonial .people h5 {
  font-weight: 600;
}

.testimonial-page .testimonial .people p {
  opacity: 50%;
}

.testimonial-page .testimonial .people img {
  width: 80px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.faq {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--primary-color);
}

.faq h2 {
  color: var(--color-text);
}

.faq .accordion .accordion-button {
  color: var(--color-text);
  font-weight: 700;
  background-color: #fff;
  line-height: 1.5;
}

.faq .accordion .accordion-button:focus {
  border: none;
  box-shadow: none;
}

.faq .accordion .accordion-body {
  background-color: #fff;
}

.syarat-ketentuan-page .syarat-keten-box {
  background-color: var(--primary-color);
  padding-top: 150px;
}

.syarat-ketentuan-page .syarat-keten-box p {
  line-height: 2;
}

.footer {
  width: 100%;
  min-height: 60vh;
}

.footer .row:nth-child(1) .col:nth-child(1) h3 {
  color: var(--color-text);
}

.footer .row:nth-child(1) .col:nth-child(1) .desc {
  color: var(--color-text);
  font-size: 14px;
  line-height: 1.6;
}

.footer .no a,
.footer .mail a {
  display: flex;
  align-items: center;
  column-gap: 5px;
  color: #000;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.footer .no a:hover,
.footer .mail a:hover {
  color: var(--secondary-color);
}

.footer .row:nth-child(1) .col:nth-child(2) {
  row-gap: 10px;
}

.footer .row:nth-child(1) .col:nth-child(2) a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
}

.footer .subscribes {
  display: flex;
  align-items: center;
  column-gap: 2px;
}

.footer .subscribes input {
  width: 200px;
  height: 38px;
  padding: 5px;
}

.footer .social {
  display: flex;
  column-gap: 10px;
}

.footer .social i {
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.footer .social i:hover {
  color: var(--secondary-color);
}

.footer .row:nth-child(2) {
  margin-top: 100px;
}
/* CRUD PAGE START */
.crud-page .crud .row:nth-child(1) {
  padding-top: 200px;
  padding-bottom: 100px;
}
/* CRUD PAGE END */
